<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="Description" content="男士穿衣教程。你的私人形象专家。上jesscool，轻松获得穿衣教程，学习穿衣搭配技巧，衣服是搭出来的。" /> 
	<meta name="Keywords" content="jesscool,男士,男士时尚,男士穿衣教程,男人,男人网,男人装,男人时尚,男性,时尚男人,男生,流行,穿衣教程,时尚,韩国,日本,欧美,穿衣,搭配,帅哥,潮男,型男,造型,形象顾问" /> 
    <title><%= title  %></title>
  </head>
  <body>
    <%= main %>
  </body>
</html>
